<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:py="http://genshi.edgewall.org/"
	  xmlns:i18n="http://genshi.edgewall.org/i18n"
	  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
	<title>Search<py:if test="q"> Results</py:if></title>
  </head>
  <body>
	<div id="content" class="search">

	  <h1><label for="q">${_('Advanced Search')}</label></h1>
	  <form id="fullsearch" action="${href.advsearch()}" method="get">
		<p>
		  <input type="text" id="q" name="q" size="40" value="${q or '*'}" />
		  <input type="hidden" name="page" value="${page}" />
		  <input type="submit" value="${_('Search')}" /><br />
		</p>

		<div id="general_filters">
		<fieldset>
		  <legend>${_('Source(s)')}:</legend>
		  <py:for each="filter in source">
			<input type="checkbox" id="${filter.name}" name="${filter.name}"
				   checked="${'checked' if filter.active else None}" />
			<label for="${filter.name}">${filter.name}</label>
		  </py:for>
		</fieldset>

		<fieldset id="author_list">
		  <legend>${_('Author(s)')}:</legend>
		  <py:for each="filter in author">
		  	<div>
			  	<input type="text" name="author" value="${filter}" />
				<a href="#" onclick="return remove_author_input(this)">remove</a>
			</div>
		  </py:for>
		  <div>
			  <input type="text" name="author" />
			  <a href="#" onclick="return add_author_input(this)">add</a>
		  </div>
		</fieldset>

		<fieldset id="date_range">
		  <legend>${_('Date Range')}:</legend>
		  <label for="date_start">Start</label>
		  <input type="text" name="date_start" value="${date_start}" /><br />
		  <label for="date_end">End</label>
		  <input type="text" name="date_end" value="${date_end}" /><br />
		  <em>Format: yyyy-MM-dd HH:mm:ss</em>
		</fieldset>

		<fieldset>
		<label for="per_page">Results per page:</label>
		<select name="per_page">
			<py:for each="option in [10,25,50,100]">
				<py:choose>
					<option py:when="per_page == option" value="$option" selected="selected">$option</option>
					<option py:otherwise="" value="$option">$option</option>
				</py:choose>
			</py:for>
		</select>
		</fieldset>
		</div>

	  </form>

	  <py:if test="results"><hr />
		<h2 py:if="results">
		  Results <span class="numresults">(${results.displayed_items()})</span>
		</h2>
		<div>
		  <dl id="results">
			<py:for each="result in results">
			  <dt>
			  	<em>[${result.source}]</em>
				<a href="${result.href}" class="searchable">${result.title}</a>
			  </dt>
			  <dd class="searchable">${result.summary}</dd>
			  <dd>
				<py:if test="result.author">
					<span class="author" i18n:msg="author">By ${format_author(result.author)}</span> &mdash;
				</py:if>
				<span class="date">${result.date}</span>
			  </dd>
			</py:for>
		  </dl>
		  <py:if test="results.has_next_page">
			  <a href="#" onclick="return next_page(${start_points})">Next Page (${page+1})</a>
		  </py:if>
		</div>
	  </py:if>

	  <div id="notfound" py:if="q and not results" class="clear">
		No matches found.
	  </div>

	  <div id="help">
			Return to classic <a href="${href.search()}">${_('Search')}</a>.<br />
			See <a href="${href.wiki('TracAdvancedSearch')}">TracAdvancedSearchPlugin</a>
				for help on searching.
	  </div>

	</div>
  </body>
</html>
