
#general_filters,
#ticket_filters {
	max-width: 250px;
	float: left;
}

#fullsearch fieldset {
	width: 200px;
	float: left;
	margin: 10px;
}

.clear {
	clear: both;
}

#date_range label {
	width: 3em;
	display: inline-block;
}
#date_range em {
	font-size: 0.8em;
}

#author_list DIV A {
	font-size: 0.9em;
	font-style: italic;
}


.result_header {
	margin: 2px 0;
	font-weight: bold;
}

.even {
	background: #eee;
}

.result_header SPAN.result_type {
	padding: 0 4px 0 0;
}

.result_summary {
	font-size: 0.8em;
}

.result_footer {
	font-size: 0.8em;
	margin-top: 2px;
}

.result {
	padding: 5px 10px;
}

.result_summary .searchword0,
.result_summary .searchword1,
.result_summary .searchword2,
.result_summary .searchword3,
.result_summary .searchword4 {
	font-weight: bold;
}

.ticket_details {
	font-size: 0.9em;
	font-weight: normal;
}
