
#general_filters, 
#ticket_filters {
	max-width: 300px;
	float: left;
}

#fullsearch fieldset {
	width: 250px;
	float: left;
	margin: 10px;
}

.clear {
	clear: both;
}

#date_range label {
	width: 3em;
	display: inline-block;
}
#date_range em {
	font-size: 0.8em;
}

#author_list DIV A {
	font-size: 0.9em;
	font-style: italic;
}

